body {
  margin: 0;
  background-color: #282c34;
  color: white;
  text-align: center;
}

table {
  margin: 0 auto;
}

#platinum-input, span {
  font-size: 1.5em;
}

#platinum-input {
  background-color: #282a34;
  color: white;
}

#content-container {
  width: 100%;
  margin: 0 auto;
}

#platinum-input {
  background-color: #3f474e;
  border: none;
  border-radius: 1em;
  padding: 5px 15px;
}

#conversions-table {
  background-color: #3f474e;
  border-radius: 1em;
  padding: 5px;
}

#conversions-table th {

}


/* for phone screens */
@media screen and (min-width: 320px) {
  #content-container > div {
    float: initial;
  }

  #currency-container, #conversions-container {
    width: 100%;
  }
}
/* for larger screens */
@media screen and (min-width: 720px) {
  #content-container > div {
    float: left;
  }

  #currency-container, #conversions-container {
    width: 50vw;
  }
}
